@import "./typo.module.scss";

.about {
   height         : 90vh;
   width          : calc(100vw - 2rem);
   display        : flex;
   align-items    : center;
   justify-content: flex-end;

   margin: 1rem;
   background-color: transparent;

   * {
      // width         : 90%;
      font-size     : $fontSizeM;
      text-transform: lowercase;
      text-align    : left;
      background-color: transparent;
   }

   p{
      // word-wrap:break-word;
      // white-space: pre-wrap;
      width          : calc(100vw - 2rem);
      margin-bottom: 1rem;
   }

   div{
      background-color: transparent;
      width          : calc(100vw - 2rem);
   }

}

.contact {

   margin: 1rem;

   div {
      height         : 90vh;
      width          : calc(50vw - 2rem);
      display        : inline-flex;
      align-items    : center;
      justify-content: space-between;
      margin-top     : -5vh;

      table {
         display: inline;
      }
   }

   * {
      font-size  : $fontSize2000M;
      font-weight: 100;
      text-align : left;
   }
}

.agb {
   height         : 90vh;
   width          : calc(100vw - 2rem);
   display        : flex;
   align-items    : center;
   justify-content: flex-end;

   margin: 1rem;

   * {
      width         : 90%;
      font-size     : $fontSizeS;
      text-transform: lowercase;
      text-align    : left;
   }
   div{
      p{
         margin-bottom: 1rem;
      }
   }
}

@media screen and (max-width: 620px) {

   .about,
   .contact,
   .agb {
      // height: auto;
      margin-top: 5vh;
      display: block;

      * {
         width: 100%;      
         overflow: hidden;
      }
   }

   .contact {
      div {
         width     : calc(100vw - 2rem);
         display   : block;
         margin-top: 5rem;

         table {
            display : block;
            // width: 100vw;
            overflow: hidden;
            margin  : 1rem 0rem;

            * {
               // display: inline;
               width: 100%;
               overflow: hidden;

            }
         }
      }

      font-size: $fontSizeS;
   }
}

@media screen and (min-width: 620px) {

   .about,
   .contact {
      * {
         font-size: $fontSize960M;
      }
   }
}

@media screen and (min-width: 1400px) {

   .about,
   .contact {
      * {
         font-size: $fontSize1400M;
      }
   }
}

@media screen and (min-width: 2000px) {

   .about,
   .contact {
      * {
         font-size: $fontSize2000M;
      }
   }
}