@import "./typo.module.scss";

.about {
   height         : 90vh;
   width          : calc(100vw - 2rem);
   display        : flex;
   align-items    : center;
   justify-content: flex-end;

   margin: 1rem;

   * {
      width         : 90%;
      font-size     : $fontSizeM;
      text-transform: lowercase;
      text-align    : left;
   }

}

.contact {

   margin: 1rem;

   div {
      height         : 90vh;
      width          : calc(50vw - 2rem);
      display        : inline-flex;
      align-items    : center;
      justify-content: space-between;
      margin-top     : -5vh;

      table {
         display: inline;
      }
   }

   * {
      font-size  : $fontSize2000M;
      font-weight: 100;
      text-align : left;
   }
}

.agb {
   height         : 90vh;
   width          : calc(100vw - 2rem);
   display        : flex;
   align-items    : center;
   justify-content: flex-end;

   margin: 1rem;

   * {
      width         : 90%;
      font-size     : $fontSizeS;
      text-transform: lowercase;
      text-align    : left;
   }

}

@media screen and (max-width: 620px) {

   .about,
   .contact,
   .agb {
      height: 80vh;

      * {
         width: 100%;
      }
   }

   .contact {
      div {
         width  : calc(100vw - 2rem);
         display: block;
         margin-top: 5rem;

         table {
            display : block;
            // width: 100vw;
            overflow: hidden;
            margin  : 1rem 0rem;

            * {
               // display: inline;
               width  : 100%;
            }
         }
      }

      font-size: $fontSizeS;
   }
}

@media screen and (min-width: 620px) {
   .about,
   .contact {
      * {
         font-size     : $fontSize960M;
      }
   }
}

@media screen and (min-width: 1400px) {
   .about,
   .contact {
      * {
         font-size     : $fontSize1400M;
      }
   }
}

@media screen and (min-width: 2000px) {
   .about,
   .contact {
      * {
         font-size     : $fontSize2000M;
      }
   }
}