@import "./typo.module.scss";

.about,
.contact,
.agb,
.imprint {
   max-width: 760px;
   font-size: $fontSizeM;
   min-height: 100%;

   display: flex;
   align-items: center;

   margin: 0 auto;
   padding: 4rem 1.5rem;
   box-sizing: border-box;
   background-color: transparent;

   * {
      text-transform: lowercase;
      text-align: left;
      background-color: transparent;
   }

   p + p {
      margin-top: 1rem;
   }
}

.contact {
   div {
      width: 100%;
      display: flex;
      flex-direction: column;

      table + table {
         margin-top: 1.5rem;
      }

      table th {
         font-weight: inherit;
      }

      table:nth-child(2),
      table:nth-child(3) {
         align-self: flex-end;
         min-width: 14.375rem;
      }
   }
}

.agb {
   align-items: flex-start;
}

@media screen and (max-width: 620px) {
   .contact {
      div {
         table {
            align-self: flex-start !important;
            display : block;
            overflow: hidden;
         }
      }
   }
}

// @media screen and (min-width: 1400px) {

//    .about,
//    .contact {
//       * {
//          // font-size: $fontSize1400M;
//       }
//    }
// }

// @media screen and (min-width: 2000px) {

//    .about,
//    .contact {
//       * {
//          // font-size: $fontSize2000M;
//       }
//    }
// }