@font-face {
    font-family: "PPNeueMontreal";
    src: url('../assets/PPNeueMontreal-Regular.woff');
    // src: url('../assets/PPNeueMontreal-Italic.woff');
}  

html{
    background-color: black;
    scroll-behavior: smooth;

}
