@font-face {
    font-family: "PPNeueMontreal";
    src: url('../assets/PPNeueMontreal-Regular.woff');
    // src: url('../assets/PPNeueMontreal-Italic.woff');
}  

html{
    background-color: black;
    scroll-behavior: smooth;
    // cursor: none;

    iframe{
        // cursor: none;

        // &:hover {
        //     cursor: "none"
        //   }

    }

    ::selection {
        text-shadow: 0px 0px 20px rgb(0, 255, 42);    
        color: rgb(0, 255, 42);    
    }
}
