@font-face {
    font-family: "PPNeueMontreal";
    src: url('../assets/PPNeueMontreal-Regular.woff');
    // src: url('../assets/PPNeueMontreal-Italic.woff');
}  

@keyframes opa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html{
    background-color: black;
    scroll-behavior: smooth;
    // cursor: none;

    ::selection {
        text-shadow: 0px 0px 20px rgb(0, 255, 42);    
        color: rgb(0, 255, 42);    
    }
    
    .cookies{
        width: 100%;
        justify-content: center;
    }
    
}

.container{
    display: inline-flex;
    justify-content: center;

    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;

    opacity: 0;

    p{
        color: black;
        line-height:normal;
    }

    .btn{
        margin-left: 1rem;
        margin-top: -0.1rem;
        padding: 0.2rem  0.5rem;

        background-color: black;
        color: white;
        outline: inherit;
        border: 1px;
        border-radius: 0.8rem;

        &:hover{
            font-style: italic;
        }   
    }

    animation-name: opa;
    animation-duration: 0.3s;

    animation-delay: 1s;
    -moz-animation-delay: 1s;

    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    
}