@import "./typo.module.scss";

.project {
  margin    : 1rem;
  margin-top: 0vh;

  iframe {
    margin: 1vh 0vw;

    width : calc(100vw - 2rem);
    height: 70vh;
  }

  .text {
    display                 : block;
    // grid-template-columns: 1fr 2fr;
    font-size               : $fontSizeM;

    table {
      td {

        padding-right: 1rem;
      }
      margin: 1rem 0rem;
    }
  }
}


@media screen and (min-width: 620px) {
  .project {
    .text {
      display              : grid;
      grid-template-columns: 1fr 2fr;
      font-size            : $fontSize960M;
    }

    iframe {
      margin: 1vh 0vw;

      width : calc(100vw - 3rem);
      height: 84vh;
    }
  }
}

@media screen and (min-width: 1400px) {
  .project {
    .text {
      font-size: $fontSize1400M;
    }
    iframe {
      height: 88vh;
    }
  }
}

@media screen and (min-width: 2000px) {
  .project {

    .text {

      font-size: $fontSize2000M;

    }
  }
}