$myColor1: whitesmoke;
$myColor2: rgb(162, 162, 162);

$fontSize2000S: 10pt;
$fontSize2000M: 17pt;

$fontSize960S: 9pt;
$fontSize960M: 14pt;

$fontSize1400S: 10pt;
$fontSize1400M: 15pt;

$fontSizeS: 9pt;
$fontSizeM: 16pt;

h1, h2, h3, p, li, ul, a, tr{
    font-family: 'PPNeueMontreal';
    text-transform: uppercase;
    font-weight: 100;
    color: white;
}


@media screen and (min-width: 620px) {

}

@media screen and (min-width: 1400px) {
 
}

@media screen and (min-width: 2000px) {

}