@media screen and (max-width: 620px) {
   .work-container {
      margin: 1rem;

      height     : 90vh;
      width   : calc(100vw - 2rem);
      display    : flex;
      align-items: center;

      .work {
         display : flex;
         overflow: hidden;

         ul {
            width: 100%;

            li {
               display: flex;
            }
         }

      }
   }
}

@media screen and (min-width: 620px) {
.work-container {
      margin: 1rem;
      // margin-bottom: 10rem;

      height     : 90vh;
      display    : flex;
      align-items: center;

      .work {
         display : flex;
         width   : calc(100vw - 3rem);
         overflow: hidden;

         ul {
            width: 100%;

            li {
               display: flex;
            }

         }

      }
   }
}

@media screen and (min-width: 1400px) {
   .work {
      ul {
         li {
            margin: 0rem;
         }
      }

   }
}

@media screen and (min-width: 2000px) {
   .work-container {
      margin: 1rem;

      height     : 90vh;
      display    : flex;
      align-items: center;

      .work {
         display : flex;
         width   : calc(100vw - 3rem);
         overflow: hidden;

         ul {
            width: 100%;

            li {
               display: flex;
            }
         }

      }
   }
}