@import "../../styles/typo.module.scss";

@keyframes slideInFromLeft {
    0% {
        transform: translateY(45vh);
        // height   : 2rem;
    }

    100% {
        transform: translateY(0);
        // height   : 1.5rem;
    }
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

nav,
footer {

    .ul-wrapper {
        height    : 3.5rem;
        overflow  : auto;
        display   : block;
        transition: height 0.5s ease;

        &:hover {
            height: 4vh;
        }
    }

    ul {
        display         : inline-flex;
        justify-content : space-between;
        position        : fixed;
        z-index: 2;

        background-color: black;
        
        width  : calc(100vw - 3rem);
        padding: 1.5rem;

        li {
            display: flex;
            flex   : 1;

            font-size  : $fontSizeS;
            line-height: 0rem;
            transition : margin 0.5s ease;

        }

        li:last-child {
            justify-content: end;
        }

        li:not(:first-child, :last-child) {
            justify-content: center;
        }

        &:hover {
            li:not(.logo) {
                margin: 0.5rem 0rem;
            }

            .logo{
                video {
                    height: 2rem;
                }
            }

            .animated-logo{
                video {
                    height: 2rem;
                }
            }

            .about-logo {
                margin-top: 15vh;
            }
        }

        .animated-logo {
            margin-top         : -0.5rem;
            animation          : 0.5s ease 0.85s 1 slideInFromLeft;
            animation-fill-mode: both;

            video {
                height             : 1.5rem;
                animation          : 0.5s ease 0.75s 1 scale;
                animation-fill-mode: both;

                transition: height 0.5s ease;
            }

            &:hover {
                video {
                    height: 2rem;
                }
            }
        }

        .logo {
            margin-top: -0.5rem;

            video {
                height    : 1.5rem;
                transition: height 0.5s ease;
            }

            &:hover {
                video {
                    height: 2rem;
                }
            }
        }

        .about-logo {
            margin-top: 15vh;

            video {
                height    : 2rem;
                // transition: height 0.5s ease;
            }

            &:hover {
                video {
                    height: 2rem;
                }
            }
        }
    }

    ul.top {
        top           : 0rem;
        padding-bottom: 0.5rem;
        background-color: black;
        // z-index: 2;
    }

    ul.bottom {
        bottom     : 0rem;
        padding-top: 0.8rem;
        // z-index: 2;
    }
}

@media screen and (max-width: 620px) {

    nav,
    footer {

        ul.top {
            display: flex;
            justify-content : center;

            height: 4rem;
            top     : calc(100vh - 4.5rem);
            padding-top     : 1rem;
            text-align: center;
        }

        ul.bottom {
            top     : calc(100vh - 2.5rem);
            padding-top     : 1rem;
        }
        
        ul{
            position: fixed;
            display         : inline-flex;
            justify-content : center;
        }

        .logo {
            position        : fixed;
            background-color: black;
            top             : 0rem;
            left            : 0rem;

            width          : 100vw;
            padding-top    : 1.5rem;
            padding-bottom : 0.5rem;
            overflow       : hidden;
            display        : flex;
            justify-content: center;

        }

        .animated-logo {
            position       : fixed;
            top            : 0rem;
            left           : 0rem;
            width          : 100vw;
            padding-top    : 1.5rem;
            padding-bottom : 0.5rem;
            overflow       : hidden;
            display        : flex;
            justify-content: center;

            animation          : 0.5s ease 0.85s 1 slideInFromLeft;
            animation-fill-mode: both;

            video {
                height             : 1.5rem;
                animation          : 0.5s ease 0.75s 1 scale;
                animation-fill-mode: both;

                transition: height 0.5s ease;
            }
        }
    }
}

@media screen and (min-width: 620px) {

    nav,
    footer {
        .ul-wrapper {
            height: 2.7rem;

            &:hover {
                height: 7.5vh;
            }
        }

        ul {
            li {
                font-size: $fontSize960S;
            }

            .logo {
                video {
                    height: 1.2rem;
                }
            }

            .animated-logo {    
                video {
                    height             : 1.2rem;
                    animation          : 0.5s ease 0.75s 1 scale;
                    animation-fill-mode: both;
                }
            }

            &:hover {
    
                .logo{
                    video {
                        height: 1.5rem;
                    }
                }
    
                .animated-logo{
                    video {
                        height: 1.5rem;
                    }
                }

                .about-logo {
                    margin-top: 15vh;
                }
            }
            
        }
    }
}

@media screen and (min-width: 1400px) {

    nav,
    footer {
        .ul-wrapper {
            height: 2.9rem;

            &:hover {
                height: 7.5vh;
            }
        }

        ul {
            li {
                font-size: $fontSize1400S;
            }

            .logo {
                video {
                    height: 1.3rem;
                }
            }

            .animated-logo {    
                video {
                    height             : 1.3rem;
                    animation          : 0.5s ease 0.75s 1 scale;
                    animation-fill-mode: both;
                }
            }

            &:hover {
    
                .logo{
                    video {
                        height: 1.6rem;
                    }
                }
    
                .animated-logo{
                    video {
                        height: 1.6rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 2000px) {


    nav,
    footer {

        .ul-wrapper {
            height: 2.9rem;

            &:hover {
                height: 3.5rem;
            }
        }

        ul {
            li {
                font-size: $fontSize2000S;
            }

            .logo {
                margin-top: -0.5rem;

                video {
                    height    : 1.5rem;
                    transition: height 0.5s ease;
                }

                &:hover {
                    video {
                        height: 1.9rem;
                    }
                }
            }
        }

        ul.top {
            top           : 0rem;
            padding-bottom: 0.5rem;
        }

        ul.bottom {
            bottom     : 0rem;
            padding-top: 0.8rem;

        }
    }

}