@import "../../styles/typo.module.scss";

.work-title{
    display: inline;
    justify-content: space-between;

    width: 100%;
    font-size: $fontSize2000M;

    *{
        margin: 0rem 0.2rem;
        transition: margin 0.5s ease, font-style 0.5s ease;
    }

    &:hover{

        *{
            font-style: italic;
        }
    }
}

@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
  
    @return $randomNum;
  }
  

@media screen and (min-width: 620px) {
    .work-title{
        display: inline-flex;
        justify-content: space-between;
    
        width: 100%;
        font-size: $fontSize960M;

        *{
            display: flex;
            flex: 1;
        }

        h3{
            justify-content:end;
        }

        h1{
            // display: flex;
            justify-content: center;
        }
    
    }
}

@media screen and (min-width: 960px) {

}

@media screen and (min-width: 2000px) {
    .work-title{
        font-size: $fontSize2000M;
    }
}