@import "../../styles/typo.module.scss";


@keyframes opa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.work-title {
    display        : inline;
    justify-content: space-between;

    width    : calc(100vw - 2rem);
    font-size: $fontSizeM;

    * {
        margin    : 0rem 0.2rem;
        transition: margin 0.5s ease, font-style 0.5s ease;
    }

    &:hover {

        * {
            font-style: italic;
        }
    }
}

.animated {
    // display        : flex;
    // flex-wrap: nowrap;
    // justify-content: center;
    // justify-content: space-between;
    display: grid;
    place-items: center;

    // grid-template-columns: auto ;

    width    : calc(100vw - 2rem);
    font-size: $fontSizeM;

    opacity: 0;
    
    * {
        display: block;
        margin    : 0rem 0.2rem;
        transition: margin 0.5s ease, font-style 0.5s ease;
    }
    
    &:hover {
        
        * {
            font-style: italic;
        }
    }

    animation-name: opa;
    animation-duration: 0.3s;

    animation-delay: 1s;
    -moz-animation-delay: 1s;

    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}


@media screen and (min-width: 720px) {
    .work-title{
        margin-bottom: 13rem;
        // height: 10vh;
    }

    .work-title, .animated {
        display: grid;
        grid-template-columns: auto 1fr auto;
        // display        : inline-flex;
        // justify-content: space-between;

        width     : 100%;
        // font-size : $fontSize960M;
        transition: font-size 0.5s ease;

        * {
            // display: grid;
            // grid-template-columns: 1fr 1fr 1fr;
        }

        // * {
        //     display: flex;
        //     display: -webkit-flex;
        //     flex   : 1;
        // }

        h3 {
            justify-content: end;
            -webkit-justify-content: flex-end;
            transition: opacity 0.1s ease;
        }

        h1 {
            // display: flex;
            justify-content: center;
        }

    }
}

// @media screen and (min-width: 1400px) {

//     .work-title, .animated {
//         font-size: $fontSize1400M;
//     }
// }

// @media screen and (min-width: 2000px) {
//     .work-title, .animated {
//         font-size: $fontSize2000M;
//     }
// }