@import "../../styles/typo.module.scss";


@keyframes opa {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.work-title {
    display        : inline;
    justify-content: space-between;

    width    : calc(100vw - 2rem);
    font-size: $fontSizeM;

    * {
        margin    : 0rem 0.2rem;
        transition: margin 0.5s ease, font-style 0.5s ease;
    }

    &:hover {

        * {
            font-style: italic;
        }
    }
}

.animated {
    display        : inline;
    justify-content: space-between;

    width    : calc(100vw - 2rem);
    font-size: $fontSizeM;

    opacity: 0;

    animation-name: opa;
    animation-duration: 0.3s;

    animation-delay: 1s;
    -moz-animation-delay: 1s;

    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;

    * {
        margin    : 0rem 0.2rem;
        transition: margin 0.5s ease, font-style 0.5s ease;
    }

    &:hover {

        * {
            font-style: italic;
        }
    }
}

// @function randomNum($min, $max) {
//     $rand: random();
//     $randomNum: $min + floor($rand * (($max - $min) + 1));

//     @return $randomNum;
//   }


@media screen and (min-width: 620px) {
    .work-title, .animated {
        display        : inline-flex;
        justify-content: space-between;

        width     : 100%;
        font-size : $fontSize960M;
        transition: font-size 0.5s ease;

        * {
            display: flex;
            flex   : 1;
        }

        h3 {
            justify-content: end;
        }

        h1 {
            // display: flex;
            justify-content: center;
        }

    }
}

@media screen and (min-width: 1400px) {
    .work-title, .animated {
        font-size: $fontSize1400M;
    }
}

@media screen and (min-width: 2000px) {
    .work-title, .animated {
        font-size: $fontSize2000M;
    }
}